.dashboard-container {
  width: 100%;
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .section-wrapper {
    width: 100%;
  }

  .aside-wrapper {
    width: 100%;
  }

  @media screen and (min-width: 360px) {
    .section-wrapper {
      width: 100%;
    }

    .aside-wrapper {
      width: 100%;
    }
  }

  @media screen and (min-width: 960px) {
    .section-wrapper {
      width: calc(100% - 560px);
    }

    .aside-wrapper {
      width: 420px;
    }
  }
}

@media screen and (min-width: 360px) {
  .mobile-view {
    display: block;
    margin-bottom: 50px;
  }

  .web-view {
    display: none;
  }
}

@media screen and (min-width: 960px) {
  .mobile-view {
    display: none;
  }

  .web-view {
    display: block;
  }
}